/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*================================
    Main Styles
==================================*/

/* Add CSS styling here */

body {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.container h3 {
    font-family: 'Chango', cursive;
    font-size: 20px;
}

.container button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: palevioletred;
    margin: 0 10px;
    width: 120px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.banner h1 {
    text-shadow: 1px 1px 2px black;
}

.banner img {
    max-width: 700px;
    height: auto;
    filter: saturate(7);
    box-shadow: 3px 3px palevioletred, -1em 0 .4em lightgrey;
    border-radius: 5px;
}

.banner-text {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Chango', cursive;
}

.banner button {
    padding: 15px;
    margin: 2% 38%;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: palevioletred;

}

.banner button:hover,
.container button:hover,
footer button:hover {
    background: white;
    color: palevioletred;
    border: 1px solid palevioletred;
}

.gallery1,
.gallery2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.gallery1 img,
.gallery2 img {
    box-shadow: 5px 10px 18px #888;
    border-radius: 5px;
}

p {
    text-align: center;
    margin: 25px 0;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

footer {
    background: linear-gradient(#C3C3C3, #000);;
    height: 120px;
}

footer button {
    padding: 15px;
    margin: 2% 50%;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background: palevioletred;
}


